@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    src: url('../fonts/montserrat/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
    
}
@font-face {
    font-family: 'Prosto';
    font-weight: 400;
    src: url('../fonts/prostoOne/ProstoOne-Regular.ttf') format('truetype');
    
}